.userList {
  flex: 4;
  padding: 50px;
}

.userListUser {
  display: flex;
  align-items: center;
}

.userListImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.userListEdit {
  color: #121268;
  cursor: pointer;
}

.userListDelete {
  color: rgb(221, 2, 38);
  cursor: pointer;
}
