.shop {
  flex: 4;
  padding: 20px;
}

.shopTitleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.shopAddButton {
  width: 80px;
  border: none;
  padding: 5px;
  background-color: teal;
  color: white;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.shopTop {
  display: flex;
}

.shopTopLeft,
.shopTopRight {
  flex: 1;
}

.shopTopRight {
  padding: 20px;
  margin: 20px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.shopInfoImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}

.shopInfoTop {
  display: flex;
  align-items: center;
}

.shopName {
  font-weight: 600;
}

.shopInfoBottom {
  margin-top: 10px;
}

.shopInfoItem {
  width: 150px;
  display: flex;
  justify-content: space-between;
}

.shopInfoValue {
  font-weight: 300;
}

.shopBottom {
  padding: 20px;
  margin: 20px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.shopForm {
  display: flex;
  justify-content: space-between;
}

.shopFormLeft {
  display: flex;
  flex-direction: column;
}

.shopFormLeft > label {
  margin-bottom: 10px;
  color: gray;
}

.shopFormLeft > input {
  margin-bottom: 10px;
  border: none;
  padding: 5px;
  border-bottom: 1px solid gray;
}

.shopFormLeft >select{
  margin-bottom: 10px;
}

.shopUploadImg{
  width: 100px;
  height: 100px;
  border-radius: 10px;
  object-fit: cover;
  margin-right: 20px;
}

.shopFormRight{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.shopUpload{
  display: flex;
  align-items: center;
}

.shopButton{
  border: none;
  padding: 5px;
  border-radius: 5px;
  background-color: darkblue;
  color:white;
  font-weight: 600;
  cursor: pointer;
}